<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSMS</title>
    <link rel="stylesheet" href="./static/css/home.css">
</head>
<body>
    <h1>Optimization system</h1>
    <div class="container">

        <!-- input area-->
        <div class="section">

            <!-- input title-->
            <h3>Pre-parameters</h3>

            <!-- number -->
            <label for="MaxGridPower">Max grid power (Wh) :</label>
            <input type="number" id="MaxGridPower" name="MaxGridPower" value="16000" required>

            <!-- selection -->
            <label for="chargeInterval">Optimize interval (min) :</label>
            <select id="chargeInterval" name="chargeInterval" required>
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="60">60</option>
            </select>

            <!-- file -->
            <label for="eprices">Electricity Prices:</label>
            <input type="file" id="eprices" name="eprices" accept=".csv">

            <!-- button -->
            <div class="button-container">
                <button id="submit_Button">Submit</button>
                <p id="successMessage" class="success-message">✅ Submit successfully！</p>
            </div>
        </div>

        <!-- charging needs area-->
        <div class="section">

            <!-- connection status icon-->
            <span id="connectionStatus" class="connected-icon disconnected">❌ No Connection </span>

            <!-- charging needs title-->
            <h3>Charging Needs</h3>

            <!-- charging needs data-->
            <p>EVSE id: <span id="evseId">unknown</span></p>
            <p>Departure time: <span id="departureTime">unknown</span></p>
            <p>Energy amount: <span id="energyAmount">0 Wh</span></p>
            <p>EV max voltage: <span id="evMaxVoltage">0 V</span></p>
            <p>EV max current: <span id="evMaxCurrent">0 A</span></p>
            <p>EV min current: <span id="evMinCurrent">0 A</span></p>
            <p>Mod: <span id="mod">unknown</span></p>
        </div>

        <!-- system status area -->
        <div class="section">

            <!-- system status title-->
            <h3>System Status</h3>

            <!-- system console-->
            <div id="console_contain" class="console_contain">System is idle...

            </div>
        </div>

        <!-- graphics area -->
        <div class="section">

            <!-- optimization results icon-->
            <span id="optimizationResults" class="result-icon failed">❌ Optimization failed </span>

            <!-- optimization results title-->
            <h3>Optimization Results</h3>

            <!-- optimization results graphics-->
            <div class="img-container">
                <img id="chargingImg" src="https://via.placeholder.com/500x200?text=充电随时间变化图" alt="chargingImg">
                <img id="comparisonImg" src="https://via.placeholder.com/500x200?text=充电随时间变化图" alt="comparisonImg">
            </div>
        </div>

    </div>

    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="./static/js/output.js"></script>
    <script src="./static/js/input.js"></script>
</body>
</html>
