:root {
    --primary_color: #4eafea;
    --primary_hover_color: #ea502f;
    --console_bg_color: #1A1A19;
    --console_text_color: #dddddd;
    --console_border_color: #4b4b4b;
    --time_font_size: 26px;
}


body {
    margin: 1vw 1vw;

}

/* #page_home {
    display: none;
} */
#page_console {
    display: none;
}

/* #page_image {
    display: none;
} */

#sub_area {
    width: 100%;
    display: flex;
}

#div_current_time {
    align-items: center;
    text-align: center;
    color: #1F509A;
    font: var(--time_font_size) Arial, sans-serif;
}

#span_current_time {
    display: inline-block;
    font-size: 32px;
    width: 300px;
    margin-left: 30px;
}

#logout{
    margin-left: 60px;
    width: var(--time_font_size);
    height: var(--time_font_size);
    display: inline-block;
}

#language_selection {
    width: calc((var(--time_font_size)+20) * 3);
    height: var(--time_font_size);
    display: inline-block;
}

.svg_icon {
    width: var(--time_font_size);
    height: var(--time_font_size);
    margin: 0 10px;
    cursor: pointer;
    /* display: inline-block; */
}

#language_selection svg{
    width: calc(2*var(--time_font_size));
    height: var(--time_font_size);
    cursor: pointer;
}



#title_selection_blank {
    height: 5vh;
}

#title_selection {
    position: fixed;
    width: 97vw;
    height: 4vh;
    text-align: center;
}

#title_selection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary_color);
    opacity: 0.8;
    z-index: -1;
    border-radius: 2vh;
}

#title_selection ul {
    margin: 0;
    padding: 0 10vw;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.title_item {
    width: 20vw;
    height: 4vh;
    margin: 0px;
    cursor: pointer;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--time_font_size);
    font-weight: bold;
    text-align: center;
    line-height: 4vh;
}

.title_item:hover {
    background-color: var(--primary_hover_color);
    border: None;
    border-radius: 2vh;
}

.title_selected {
    background-color: var(--primary_hover_color);
    border: None;
    border-radius: 2vh;
}

.sub_console {
    display: inline-block;
    flex: 1;
}


.console_contain {
    height: 40vh;
    padding: 10px;
    /* margin: 10px; */
    background-color: var(--console_bg_color);
    border: 5px solid var(--console_border_color);
    border-radius: 10px;
    color: var(--console_text_color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    overflow-y: auto;
    white-space: pre-wrap;
}

.console_contain::-webkit-scrollbar {
    width: 0.5vw;
}

.console_contain::-webkit-scrollbar-thumb {
    background-color: var(--primary_color);
    border-radius: 0.25vw;
}

.console_contain::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary_hover_color);
    cursor: pointer;
}

.console_contain::-webkit-scrollbar-track {
    background-color: transparent;
    border: none;
    border-radius: 0.25vw;
}

/* .display_base{
    margin: 20px;
} */

.top_area .display_base {
    height: 10vh;
}

.sub_area .display_base {
    height: 30vh;
}


.console_block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    border: 5px solid var(--console_border_color);
    border-radius: 10px;
}