body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}
.container {
    display: flex;
    width: 100%;
}
.console {
    width: 50%;
    padding: 20px;
    border-right: 2px solid #ddd;
    overflow-y: auto;
    background-color: #f4f4f4;
}
.console h2 {
    text-align: center;
}
.console ul {
    list-style-type: none;
    padding: 0;
}
.console li {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
}
/*.console_block {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 10px;*/
/*    margin: 10px;*/
/*    padding: 10px;*/
/*    border: 5px solid #4b4b4b;*/
/*    border-radius: 10px;*/
/*}*/
.console_contain {
    height: 60vh;
    padding: 10px;
    /* margin: 10px; */
    background-color: #ddd;
    /*border: 5px solid #4b4b4b;*/
    /*border-radius: 10px;*/
    /*color: #dddddd;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    overflow-y: auto;
    white-space: pre-wrap;
}
.console_contain::-webkit-scrollbar {
    width: 0.75vw;
}
.console_contain::-webkit-scrollbar-thumb {
    background-color: #4eafea;
    border-radius: 0.375vw;
}
/*.console_contain::-webkit-scrollbar-thumb:hover {*/
/*    background-color: #ea502f;*/
/*    cursor: pointer;*/
/*}*/
.console_contain::-webkit-scrollbar-track {
    background-color: transparent;
    border: none;
    border-radius: 0.25vw;
}
.console_button {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
    height: 60px;
}
.console_button button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ddd;
}
/*.display_base {*/
/*    height: 30vh;*/
/*}*/
.status {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.status h2 {
    text-align: center;
}
.status .status-item {
    margin: 15px 0;
    font-size: 18px;
}
.status svg {
    width: 30px;
    height: 30px;
}
.charging-status i {
    font-size: 30px;
    margin-right: 10px;
}
.charging-status .status-text {
    font-size: 20px;
    font-weight: bold;
}
.chart-container {
    margin-top: 20px;
    height: 250px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
}
.chart-container img {
    max-width: 90%;
    max-height: 100%;
}